name: First Workflow

on: [push]

jobs:
  say_hello:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
      - uses: action/checkout@v3
      
      - name: Hello World
        run: echo "Hello, world"
